.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:lightsalmon;
  background: linear-gradient(90deg,lightcoral 0%,lightcoral 100%);
}

  .card h1 {
    color: white;
  }

label {
  color: white;
}
